
<div class="container" style="margin-left: 0px;margin-right: 0px;">
    <div class="inner clearfix">
        @Html.Partial("_AdminLeft")
        <!-- end content-left -->

        <div class="content-right ">

            <a href="javascript:;" class="btn-leftMenuFold" id="j-btn-leftMenuFold"></a>
            <h1 class="content-right-title">
                提现申请列表
                <a class="gicon-info-sign gicon_linkother" href="http://help.kuaixcx.com/Operation/index.html?id=54" target="_blank"></a>
            </h1>
            <div class="tables-searchbox newcearchbox">
                <input type="text" placeholder="用户电话" class="input" name="title" value="" style="width: 204px; height: 35px;" id="inputSearch">
                <button class="btn btn-primary search_btn" id="btnSearch">查询</button>
                <input type="checkbox"  class="input" name="title" value=""  id="inputStatus">状态(选中是历史的)
                <input type="text" placeholder="开始时间" class="input" name="title" value="" style="width: 204px; height: 35px;" id="startDate">
                <input type="text" placeholder="结束时间" class="input" name="title" value="" style="width: 204px; height: 35px;" id="endDate">
                <button class="btn btn-primary search_btn" id="btnDateSearch">查询</button>
            </div>
            <div class="tablesWrap mgt10">
                <table id="J_ItemList" class="wxtables">
                    <colgroup>
                        <col width="10%">
                        <!-- 图片 -->
                        <col width="20%">
                        <!-- 名称 -->
                        <col width="20%">
                        <col width="15%">
                        <col width="10%">
                        <!-- 标准现价 -->
                        <col width="15%">
                    </colgroup>
                    <thead>
                        <tr class="po_list">
                            <td class="center">用户名</td>
                            <td class="center">支付宝账号</td>
                            <td class="center">提现金额</td>
                            <td class="center">申请时间</td>
                            <td class="center">状态</td>
                            <td class="center">操作</td>
                        </tr>
                    </thead>

                </table>
                <div class="tables-btmctrl clearfix">

                </div>
            </div>
            <div id="pager" style="margin:40px 0"></div>
        </div>
        <!-- end content-right -->
    </div>
</div>
<script type="text/javascript">
    seajs.use(["/Scripts/cash/cashdata"], function (Sysrole) {
        var $ = Sysrole.jQuery;
        Sysrole.CashController.init({ el: $("#J_ItemList"), url: '' });
    });
</script>


