.vs/Literature/v14/.suo
Lib.Web.Api.OData/bin/Debug/Lib.Web.Api.dll
Lib.Web.Api.OData/bin/Debug/Lib.Web.Api.OData.dll
Lib.Web.Api.OData/bin/Debug/Lib.Web.Api.OData.pdb
Lib.Web.Api.OData/bin/Debug/Lib.Web.Api.pdb
Lib.Web.Api.OData/bin/Debug/Lib.Web.dll
Lib.Web.Api.OData/bin/Debug/Lib.Web.pdb
Lib.Web.Api.OData/bin/Debug/LibMain.dll
Lib.Web.Api.OData/bin/Debug/LibMain.pdb
Lib.Web.Api.OData/obj/Debug/Lib.Web.Api.OData.csproj.FileListAbsolute.txt
Lib.Web.Api.OData/obj/Debug/Lib.Web.Api.OData.csprojResolveAssemblyReference.cache
Lib.Web.Api.OData/obj/Debug/Lib.Web.Api.OData.dll
Lib.Web.Api.OData/obj/Debug/Lib.Web.Api.OData.pdb
Lib.Web.Api/bin/Debug/Lib.Web.Api.dll
Lib.Web.Api/bin/Debug/Lib.Web.Api.pdb
Lib.Web.Api/bin/Debug/Lib.Web.dll
Lib.Web.Api/bin/Debug/Lib.Web.pdb
Lib.Web.Api/bin/Debug/LibMain.dll
Lib.Web.Api/bin/Debug/LibMain.pdb
Lib.Web.Api/obj/Debug/Lib.Web.Api.csproj.FileListAbsolute.txt
Lib.Web.Api/obj/Debug/Lib.Web.Api.csprojResolveAssemblyReference.cache
Lib.Web.Api/obj/Debug/Lib.Web.Api.dll
Lib.Web.Api/obj/Debug/Lib.Web.Api.pdb
Lib.Web/bin/Debug/Lib.Web.dll
Lib.Web/bin/Debug/Lib.Web.pdb
Lib.Web/bin/Debug/LibMain.dll
Lib.Web/bin/Debug/LibMain.pdb
Lib.Web/obj/Debug/Lib.Web.csproj.FileListAbsolute.txt
Lib.Web/obj/Debug/Lib.Web.csprojResolveAssemblyReference.cache
Lib.Web/obj/Debug/Lib.Web.dll
Lib.Web/obj/Debug/Lib.Web.pdb
LibMain/bin/Debug/LibMain.dll
LibMain/bin/Debug/LibMain.pdb
LibMain/obj/Debug/LibMain.csproj.FileListAbsolute.txt
LibMain/obj/Debug/LibMain.dll
LibMain/obj/Debug/LibMain.pdb
