<div class="content-left fl">
    <dl class="left-menu shop_2 sub_home">
        <dt>
            <i class="icon-menu commodity"></i>
            <span id="shop_2" data-id="2">店铺管理</span>
        </dt>
        <dd class="subshop_2 active">
            <a href="/Shop/Index">店铺列表</a>
        </dd>
    </dl>
</div>
