{% for(var i =0, j=$data.length; i< j; i++) { %}        
<tr  class="contenttr">
    <td colspan="7">
        <input type="checkbox"  value="{%=$data[i].OrderId %}"> 
        订单编号：<span>{%=$data[i].OrderCode %}</span>
        创建时间：<span>{%=$data[i].OrderDate.toDate('yyyy-MM-dd hh:mm:ss') %}</span>
        <span>{%=$data[i].OrderStatus %}
            {%if($data[i].OrderStatus ==1){%}
                待付款
            {%}else if($data[i].OrderStatus ==2){%}
                已付款
            {%}else if($data[i].OrderStatus ==3){%}
                已发货
            {%}else if($data[i].OrderStatus ==4){%}
                已收货
            {%}else if($data[i].OrderStatus ==5){%}
                已完成
            {%}%}
        </span>
    </td>
</tr>
<tr class="contenttr">
    <td >
        {% for(var ii =0, jj=$data[i].ProductList.length; ii< jj; ii++) { %}
        <img src="{%=$data[i].ProductList[ii].ProductImage[0].ImgPath %}" width="40px" height="40px">
        <div>{%=$data[i].ProductList[ii].ProductName %}</div>
        <div>¥{%=$data[i].ProductList[ii].MarketPrice %}</div>
        <div>数量：{%=$data[i].ProductList[ii].Quantity %}</div>
        {% } %}
    </td>
    <td class="center">
        &nbsp;
    </td>
    <td>
        &nbsp;
    </td>
    <td> &nbsp;</td>
    <td> &nbsp;</td>
    <td data-item_id="{%=$data[i].OrderId %}" class="center">
        <button class="edit_item lhx_btn btn btn-primary" id="{%=$data[i].OrderId%}">查看详情</button>
    </td>
</tr>
{% } %}