<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="grpcChannelTargets" type="RPCCommonTool.GrpcChannelTargetsSection, RPCCommonTool"/>
  </configSections>
  <grpcChannelTargets connectTimeout="1000">
    <!--connectTimeout 为连接超时设置，单位为毫秒，用于判断获取到的服务地址是否可用-->
    <!--服务的IP和端口-->
    <add key="accountservice_host" value="127.0.0.1:7700"/>
    <add key="productservice_host" value="127.0.0.1:7000"/>
    <add key="orderservice_host" value="127.0.0.1:7900"/>
    <add key="smsservice_host" value="127.0.0.1:7800"/>
  </grpcChannelTargets>  
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-WebApplication24-20170824065102.mdf;Initial Catalog=aspnet-WebApplication24-20170824065102;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="XCXAppID" value="wx9937ba63a0128e0f"/>
    <add key="XCXAppSecrect" value="9c1506bdf7ee0147fda43ad3f949f2f6"/>
    <add key="Redis.Servers" value="127.0.0.1:6379"/>
    <add key="ApiRedis.Servers" value="127.0.0.1:6379"/>
    <add key="SessionRedis.Servers" value="127.0.0.1:6379"/>
  </appSettings>
</configuration>