<div class="container" style="margin-left: 0px;margin-right: 0px;">
    <div class="inner clearfix">
        @Html.Partial("_ProductLeft")
        <!-- end content-left -->

        <div class="content-right ">

            <a href="javascript:;" class="btn-leftMenuFold" id="j-btn-leftMenuFold"></a>
            <h1 class="content-right-title">
                产品库存管理
                <a class="gicon-info-sign gicon_linkother" href="http://help.kuaixcx.com/Operation/index.html?id=54" target="_blank"></a>
            </h1>
            <div class="tables-searchbox newcearchbox">
                <a href="#" class="btn btn-success j-additem" style="height: 32px;" id="btnAddButton">添加</a>

            </div>
            <div class="tablesWrap mgt10">
                <table id="J_ItemList" class="wxtables table-order">
                    <colgroup>
                        <col width="5%">
                        <col width="10%">
                        <col width="15%">
                        <col width="15%">
                        <col width="5%">
                        <col width="5%">
                        <col width="5%">
                        <col width="5%">
                        <col width="10%">
                        <col width="25%">
                    </colgroup>
                    <thead>
                        <tr>
                            <td style="background:#f8f8f8"></td>
                            <td class="center" style="background:#f8f8f8">院区名称</td>
                            <td class="center" style="background:#f8f8f8">店铺名称</td>
                            <td class="center" style="background:#f8f8f8">产品名称</td>
                            <td class="center" style="background:#f8f8f8">SKU码</td>
                            <td class="center" style="background:#f8f8f8">库存</td>
                            <td class="center" style="background:#f8f8f8">订购数量</td>
                            <td class="center" style="background:#f8f8f8">警戒库存</td>
                            <td class="center" style="background:#f8f8f8">时价</td>
                            <td class="center" style="background:#f8f8f8">日期</td>
                            <td class="center" style="background:#f8f8f8">操作</td>
                        </tr>
                    </thead>

                </table>
                <div class="tables-btmctrl clearfix">

                </div>
            </div>
            <div id="pager" style="margin:40px 0"></div>
        </div>
        <!-- end content-right -->
    </div>
</div>
<script type="text/javascript">
    seajs.use(["/Scripts/productsku/skudata"], function (Sysrole) {
        var $ = Sysrole.jQuery;
        Sysrole.SkuController.init({ el: $("#J_ItemList"), url: '' });
    });
</script>




