<div class="container" style="margin-left: 0px;margin-right: 0px;">
    <div class="inner clearfix">
        @Html.Partial("_SellerLeft")
        <!-- end content-left -->

        <div class="content-right ">
            <input id="sellerId" type="hidden" value="@Model" />
            <a href="javascript:;" class="btn-leftMenuFold" id="j-btn-leftMenuFold"></a>
            <h1 class="content-right-title">
                商家产品列表
                <a class="gicon-info-sign gicon_linkother" href="http://help.kuaixcx.com/Operation/index.html?id=54" target="_blank"></a>
            </h1>
            <div class="tables-searchbox newcearchbox">
                <a href="#" class="btn btn-success j-additem" style="height: 32px;" id="btnAddButton">添加</a>
                <input type="text" placeholder="查询关键字" class="input" name="title" value="" style="width: 204px; height: 35px;" id="inputSearch">
                <button class="btn btn-primary search_btn" id="btnSearch">查询</button>
            </div>
            <div class="tablesWrap mgt10">
                <table id="J_ItemList" class="wxtables table-order">
                    <colgroup>
                        <col width="20%">
                        <col width="20%">
                        <col width="20%">
                        <col width="10%">
                        <col width="10%">
                        <col width="20%">
                    </colgroup>
                    <thead>
                        <tr>
                            <td style="background:#f8f8f8">商品名</td>
                            <td class="center" style="background:#f8f8f8">分类</td>
                            <td class="center" style="background:#f8f8f8">品牌</td>
                            <td class="center" style="background:#f8f8f8">价格</td>
                            <td class="center" style="background:#f8f8f8">会员价</td>
                            <td class="center" style="background:#f8f8f8">操作</td>
                        </tr>
                    </thead>

                </table>
                <div class="tables-btmctrl clearfix">

                </div>
            </div>
            <div id="pager" style="margin:40px 0"></div>
        </div>
        <!-- end content-right -->
    </div>
</div>
<script type="text/javascript" src="~/Scripts/plug/plupload/plupload.full.min.js"></script>
<script type="text/javascript" src="~/Scripts/plug/plupload/i18n/zh_CN.js"></script>
<script type="text/javascript" src="~/Scripts/plug/qiniu/ui.js"></script>
<script type="text/javascript" src="~/Scripts/plug/qiniu/qiniu.js"></script>

<script type="text/javascript">
    seajs.use(["/Scripts/Seller/product"], function (Sysrole) {
        var $ = Sysrole.jQuery;
        Sysrole.ProductController.init({ el: $("#J_ItemList"), url: '' });
    });
</script>
