<div class="container" style="margin-left: 0px;margin-right: 0px;">
    <div class="inner clearfix">
        @Html.Partial("_TypeLeft")
        <!-- end content-left -->

        <div class="content-right ">

            <a href="javascript:;" class="btn-leftMenuFold" id="j-btn-leftMenuFold"></a>
            <h1 class="content-right-title">
                商品分类
                <a class="gicon-info-sign gicon_linkother" href="http://help.kuaixcx.com/Operation/index.html?id=54" target="_blank"></a>
            </h1>
            <div class="tables-searchbox newcearchbox">
                <a href="#" class="btn btn-success j-additem" style="height: 32px;" id="btnAddButton">添加</a>
                <input type="text" placeholder="分类名称" class="input" name="title" value="" style="width: 204px; height: 35px;" id="inputSearch">
                <button class="btn btn-primary search_btn" id="btnSearch">查询</button>
            </div>
            <div class="tablesWrap mgt10">
                <table id="J_ItemList" class="wxtables">
                    <colgroup>
                        <col width="20%">
                        <!-- 图片 -->
                        <col width="30%">
                        <!-- 名称 -->
                        <col width="20%">
                        <!-- 标准现价 -->
                        <col width="20%">
                    </colgroup>
                    <thead>
                        <tr class="po_list">
                            <td><i class="icon_check"></i></td>
                            <td class="center">分类名称</td>
                            <td>排序</td>
                            <td class="center">操作</td>
                        </tr>
                    </thead>

                </table>
                <div class="tables-btmctrl clearfix">

                </div>
            </div>
            <div>
                <a href="javascript:;" class="btn btn-primary btn_table_selectAll">全选</a>
                <a href="javascript:;" class="btn btn-primary btn_table_Cancle">取消</a>
                <a href="javascript:;" class="btn btn-warning btn_AllDel" >批量删除</a>
            </div>
            <div id="pager" style="margin:40px 0"></div>
        </div>
        <!-- end content-right -->
    </div>
</div>
<script type="text/javascript">
    seajs.use(["/Scripts/type/type"], function (Sysrole) {
        var $ = Sysrole.jQuery;
        Sysrole.TypeController.init({ el: $("#J_ItemList"), url: '' });
    });
</script>
